* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
    color: #1b1b1b;
}

a:hover {
    color: red;
}

:root {
  --main-background: #EAEAEA;
  --article-background: #ffffff;
  --heading: #1b1b1b;
  --footer-legend: #8f8f8f;
  --other-text: #39393a;
}

body {
  background: var(--main-background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main{
    margin-left: 21rem;
    margin-right: 21rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: var(--article-background);
    padding-bottom: 2rem;
    border-radius: 1rem;
}

article{
    margin-top: 2rem;
    padding-top: 5rem;
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.image-container img{
    height: 250px;
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.image-container {
  text-align: right;
  font-size: 12px;
  color: #8f8f8f;
}

ol,ul,li{
    line-height: 36px;
    list-style-position: inside;
}

.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.heart {
    color: red;
}