@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  color: var(--text-base);
  background-color: var(--background);
}
body a {
  text-decoration: none;
}
body main {
  width: 100%;
  display: flex;
  margin: 0 20px;
}

/*form section*/
.form-section {
  width: 50%;
}
.form-section .form-header {
  margin-top: 40px;
}
.form-section .form-header .login-header {
  display: flex;
  gap: 10px;
  margin: 30px 0 5px 0;
}
.form-section .form-header .login-header .logo {
  width: 115px;
  height: auto;
}
.form-section .form-header .login-icon {
  margin-top: 6px;
}
.form-section .form-header h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-title);
}
.form-section p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.form-section .form {
  margin-top: 27px;
}
.form-section .form .form-item-mt {
  margin-top: 20px;
}
.form-section .form .form-item-mt .remember {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.form-section .form .form-item-mt .forgot-pass {
  font-family: "popins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}
.form-section .form .form-item-mtll {
  margin-top: 3px;
}
.form-section .form .form-item-mtll #email,
.form-section .form .form-item-mtll #password {
  width: 335px;
  height: 44px;
  background-color: var(--background);
  border-radius: 4px;
  border: 1px solid var(--text-base);
  color: var(--text-base);
}
.form-section .form .form-item-mtll #email:focus,
.form-section .form .form-item-mtll #password:focus {
  border: 1px solid var(--primary-color) !important;
  box-shadow: 0 0 10px var(--primary-color);
}
.form-section .form .form-item-mtl {
  margin-top: 14px;
}
.form-section .form .form-check {
  display: flex;
  justify-content: space-between;
}
.form-section .form .form-check span {
  display: flex;
  gap: 5px;
}
.form-section .form .form-check #checkbox {
  width: 20px;
  height: 20px;
}
.form-section .form .form-btn-div {
  text-align: center;
}
.form-section .form .form-btn-div input {
  width: 334px;
  height: 51px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #473404;
  font-size: 18px;
  font-weight: 600;
  font-family: "popins", sans-serif;
}
.form-section .form .form-register {
  text-align: center;
  color: var(--primary-color);
  font-family: "roboto", sans-serif;
}
.form-section .form .form-register p {
  font-size: 15px;
  font-weight: 100;
}
.form-section .form .form-register p a {
  margin-left: 3px;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.form-section .form .form-item-mt.form-check {
  display: flex;
  align-items: center;
}

/*Image background section*/
.image-bg-section {
  width: 50%;
  max-width: 50%;
  background-image: url("./assets/side-image.jpg");
  background-size: cover;
}

/*Mobile*/
@media (max-width: 600px) {
  main {
    background-color: var(--background);
  }
  main .form-section {
    width: 100vw;
    height: 100vh;
  }

  .image-bg-section {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */