/*-------Reset and config----------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
  --inner-form: #24221f;
}

*,
body,
html {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
  text-decoration: none;
  color: var(--text-base);
}

main {
  display: flex;
}

main {
  width: 100vw;
  height: 100vh;
}

/*-------Form Section----------*/
.form-section {
  width: 50%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 115px;
    height: 28px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    background-color: var(--inner-form);
    width: 85%;
    height: 60%;
    left: 74px;
    top: 194px;

    .form-container-inner {
      width: 65%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}

/* Form container inner subsections */
.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 73px;
  margin-bottom: 7px;

  .form-logo {
    width: 100%;
    display: flex;
    align-items: center;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
    }
    h1 {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 24px;
    }
  }
  p {
    align-self: flex-start;
    margin-top: 10px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
  }
}

.form-input-email {
  display: flex;
  flex-direction: column;

  &.has-icon-email {
    position: relative;

    input[type="email"] {
      padding-left: 37px;
    }

    &.icon::before {
      content: "";
      height: 20px;
      width: 20px;
      position: absolute;
      background-image: url(./assets/mail.svg);
      left: 10px;
      top: calc(50% + 3px);
    }
  }

  label {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.form-input-password {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  label {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
  }

  input[type="password"] {
    padding-left: 37px;
  }
}

.has-icon-password1 {
  position: relative;

  &.icon1::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-image: url(./assets/lock.svg);
    left: 10px;
    top: calc(50% + 35px);
  }
}

.has-icon-password1 {
  position: relative;

  &.icon1::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-image: url(./assets/lock.svg);
    left: 10px;
    top: calc(50% + 35px);
  }
}

.has-icon-password2 {
  position: relative;

  &.icon2::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    background-image: url(./assets/eye.svg);
    left: calc(100% - 30px);
    top: calc(50% - 32px);
  }
}

input {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--inner-form);
  border: 1px solid var(--text-base);
  border-radius: 4px;
  height: 44px;

  &::placeholder {
    color: var(--text-base);
  }

  &:focus {
    border: var(--primary-color);
    box-shadow: 0px 0px 0px 2px var(--primary-color);
  }
}

/*------- Form input check ----------*/
.form-input-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .check-container {
    display: flex;
    align-items: center;
  }

  #remember {
    width: 20px;
    height: 20px;
    border: 1px solid #868686;
    border-radius: 4px;
    margin-right: 5px;
  }

  .remember-text {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
  }

  .forgot-text {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-color);
  }
}

/*-------Button Section----------*/
.btn-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-btn {
  padding: 12px 24px;
  width: 100%;
  height: 51px;
  background-color: var(--primary-color);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  color: #473404;
}

/*-------Singout Section----------*/

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.signup-txt {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);

  .signup-text-dtl {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--primary-color);
  }
}

/*-------Background Section----------*/
.background-section {
  display: flex;
  width: 50%;

  .background-img {
    background-image: url(./assets/side-image.jpg);
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*-------Background Section----------*/
@media only screen and (max-width: 600px) {
  /*-------Form Section----------*/
  .form-section {
    width: 100%;
    align-items: top;

    .logo{
      left: 15px;
    }

    .form-container {
      background-color: var(--background);
      width: 100%;
      height: 60%;
      align-self: start;
      margin-top: 88px;

      .form-container-inner{
        width: 90%;
      }
    }
  }

  /*-------Background Section----------*/
  .background-section {
    display: none;
    align-self: top;
  }
}
