:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
}

main{
    margin: 0 auto;
}

/* picture */
.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture img {
    border-radius: 50%;
    margin: 7.87rem 6.68rem 1.37rem 6.68rem;
    padding: 6px;
    border: 2px solid var(--purple);
}

.picture p {
    font-size: 300;
    color: var(--purple);
}

/* links */
.links {
    display: flex;
    flex-direction: column;
    margin-top: 2.06rem;
    gap: 1rem;

    align-items: center;
}

.links a {
    border: .1255rem solid var(--purple);
    border-radius: 0.25rem;
    padding: 0.75rem 0rem;
    
    width: 326px;
    height: 49px;
    
    color: var(--purple);
    background-color: var(--body-bg-color);
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

/* social icons */

.social-icons{
    margin: 68px auto 155px auto;
    width: 236px;
    height: 24px;

    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

/* TO DO*/

/*
    https://efficient-sloth-d85.notion.site/Desafio-Social-Tree-a4008e467a3248c4b05c97cf78aea44f
*/